/* Reset Styles */

body {
    margin: 0;
    padding: 0;
}

/* Global Styles */

body {
    font-family: 'Lato', sans-serif;
    background-color: #f1f2f6;
    min-height: 100%;
}

html {
    min-height: 100%;
}

/* Drawer */

sl-drawer::part(base) {
    background-color: #FA8072;
    color: black;
}

sl-drawer::part(body) {
    padding: 0;
}


/* Menu */

sl-menu-item::part(base) {
    padding-top: 15px;
    padding-bottom: 15px;
    cursor: pointer;
}

.active::part(base) {
    background-color: #FFC0CB;
}

::part(header) {
    border-bottom: 1px solid #f2f2f2;
}

/* Content Layout */

#parent-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#content {
    flex: 1;
    padding: 20px;
}

#poem-iframe {
    height: 80vh;
    flex: 1;
    width: 100%;
    height: 100%;
    border: none;
    display: none;
    min-height: 1500px;
}

/* Content Sections */
#introduction {
    text-align: center;
    background-color: #f0f0f0;
    padding: 20px;
}

#photo-gallery {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 20px 0;
}

#latest-news {
    padding: 20px;
    background-color: #ffffff;
}

    #latest-news h2 {
        color: #333;
        font-weight: bold;
    }

.news-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
}

/* Responsive */

@media (max-width: 768px) {

    .news-content {
        grid-template-columns: 1fr;
    }

    #photo-gallery {
        flex-direction: column;
        align-items: center;
    }
}
